/* .loginbtn{
    height: 40px;
    width: 90px;
    padding: 10px;
    background:linear-gradient(to right,black,rgb(105, 2, 2));
    color: white;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
}
.loginbtn:hover{
    height: 40px;
    width: 90px;
    padding: 10px;
    
    background:linear-gradient(to right,black,rgb(47, 2, 2));
    color: white;
    font-weight: 400;    
}

.link{
    text-decoration: none;
} */
